input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 0.5625em center;
	border: solid 0.0625em #ccc;
	padding: 0.5625em 0.625em 0.5625em 2em;
	width: 5em;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 9em;
	background-color: #fff;
	border-color: #66CC75;	
	-webkit-box-shadow: 0 0 0.3125em rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 0.3125em rgba(109,207,246,.5);
	box-shadow: 0 0 0.3125em rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.search__weather {
	flex-basis: 35%;
	padding-top: 5em;
}

.search__location{
	line-height: 2em;
	font-size: 2em;
	font-weight:500;
	#country-font{
		font-weight:700;
	}
}